{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <h1>Hello  ✅</h1>

    <form action="{{ path('products_save') }}" method="post">
        <div class="form-group">
            <label for="name">Product name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Product name">
        </div>
        <div class="form-group">
            <label for="price">Product price</label>
            <input type="text" class="form-control" name="price" id="price" placeholder="Product price">
        </div>
        <div class="form-group">
            <label for="description">Product description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Product description">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

{% endblock %}
