{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <h1>Product list ✅</h1>
    <a href="{{ path('products_create') }}">Add</a>
    {% if products is not empty %}
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item">{{ product.name|e }} {{ product.price|e }} грн.</li>
        {% endfor %}

    </ul>
    {% else %}
        <p>
            No data
        </p>

    {% endif %}

{% endblock %}
